.glass-div-emp{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:786px) {
    .glass-div-emp{
        width:65%;
    }
    .input-div{
        width:55%;
    }
}
@media only screen and (max-width:426px) {
    .glass-div-emp{
        width:90%;
    }
    .input-div{
        width:75%;
        padding:3.2%;
        margin:3%;
    }
}
@media only screen and (max-width:320px) {

    .input-div{
        width:83%;
    }
}